{% extends "base.html" %}
{% set active_page = "analytics" %}

{% block head %}
{{super()}}
<link type="text/css" href="{{ url_for('static', filename='css/analytics.css') }}" rel="stylesheet" />
<script src="{{ url_for('static', filename='js/case_control.js') }}"></script>
<script src="{{ url_for('static', filename='js/adex_client.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.blockUI.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>


{% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/analytics">Case Control</a></li>
                <li class="active"><a href="/analytics/case">Case/Control</a></li>
                <li><a href="#">Export</a></li>
            </ul>
            <h5>Population Query</h5>
            <div class="nav nav-sidebar" id="population-criteria">
                <div class="list-group">
                </div>
            </div>

            <h5>Case Query</h5>
            <div class="nav nav-sidebar" id="case-criteria">
                <div class="list-group">
                </div>
            </div>
            <!--<ul class="nav nav-sidebar">-->
            <!--<li><a href="">Decision tree</a></li>-->
            <!--<li><a href="">Extracted rules</a></li>-->
            <!--</ul>-->
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>

            <div class="row placeholders">
                <div class="col-md-3 placeholder">
                    <h4>Gender distribution</h4>
                    <span class="text-muted">Shows the distribution of gender in the population</span>
                    <canvas id="population-sex-distribution"></canvas>
                </div>
                <div class="col-md-3 placeholder">
                    <h4>Age distribution</h4>
                    <span class="text-muted">Shows the age distribution in the population</span>
                    <canvas id="population-age-distribution"></canvas>
                </div>
                <div class="col-md-3 placeholder">
                    <h4>Drug distribution</h4>
                    <span class="text-muted">The top 10 most frequently prescribed drugs</span>
                    <canvas id="population-drug-distribution"></canvas>
                </div>
                <div class="col-md-3 placeholder">
                    <h4>Diagnosis distribution</h4>
                    <span class="text-muted">The top 10 most frequently assigned diagnoses</span>
                    <canvas id="population-diagnosis-distribution"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">

                </div>
                <div class="col-md-7">

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2 class="sub-header">Drugs</h2>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Header</th>
                                <th>Header</th>
                                <th>Header</th>
                                <th>Header</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1,001</td>
                                <td>Lorem</td>
                                <td>ipsum</td>
                                <td>dolor</td>
                                <td>sit</td>
                            </tr>
                            <tr>
                                <td>1,002</td>
                                <td>amet</td>
                                <td>consectetur</td>
                                <td>adipiscing</td>
                                <td>elit</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="sub-header">Diagnoses</h2>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Header</th>
                                <th>Header</th>
                                <th>Header</th>
                                <th>Header</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1,001</td>
                                <td>Lorem</td>
                                <td>ipsum</td>
                                <td>dolor</td>
                                <td>sit</td>
                            </tr>
                            <tr>
                                <td>1,002</td>
                                <td>amet</td>
                                <td>consectetur</td>
                                <td>adipiscing</td>
                                <td>elit</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}
